*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    line-height: 1.6;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #0d1b2a;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.navbar .logo{
    font-size: 1.5rem;
}
.navlinks {
    list-style: none;
    display: flex;
    gap: 30px;
    font-size: medium;

}
.navlinks a{
    text-decoration: none;
    color: rgb(249, 246, 246);
    display: flex;
}
.navlinks a:hover{
    color: #ffb703;
    transform: translateY(1.5px);
}
.hero{
    height: 100vh;
    background: linear-gradient(to right,#14213d, #000814);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}
.hero h2 span{
    color:  #ffb703;
}
.hero .btn{
    margin-top: 20px;
    background: #ffb703;
    color: black;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    transition: transform 0.3s;
}
.hero .btn:hover{
    transform: scale(1.1);
}
.about{
    padding: 80px 50px;
    background-color: #f8f9fa;
}
.aboutcontainer{
    display: flex;
    gap: 30px;
    align-items: center;
    flex-wrap: wrap;
}
.about img{
    border-radius: 10px;
    width: 250px;
}
.about img:hover{
    transform: translateY(2px);
}

.abouttext{
    flex: 1;
}
.projects{
    padding: 80px 50px;
    background: #e5e5e5;
}
.projectgrid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px , 1fr));
    gap: 30px;
    margin-top: 40px;
}
.card{
    background: white;
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s  box-shadow 0.3s;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}
.card:hover{
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0,0,0,0.2);
}
.contact{
    padding: 80px 50px;
    background-color: #14213d;
    color: white;
    text-align: center;
}
.contact form{
    max-width: 500px;
    margin: 30px auto 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.contact input, .contact textarea{
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
}
.contact button{
    padding: 10px;
    background: #ffb703;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.contact button:hover{
    background: #fb8500;
}
